<!-- <app-word></app-word>
<app-book></app-book>
<app-struct></app-struct>
<app-words></app-words>

<app-person name="Tèo Nguyễn" age="18"></app-person>
<app-person name="Tý Nguyễn" age="20"></app-person> -->

<!-- <app-list-person></app-list-person> -->

<!-- <app-parent></app-parent> -->
<!-- <app-parent2></app-parent2> -->

<!-- <app-card>
    <app-child2 class="card-header">Khoa Pham Training</app-child2>
    <h3 class="card-header">Khoa Pham Training</h3>
    <p class="card-body">Khoa Pham Training</p>
</app-card> -->

<!-- <app-learn-pipe></app-learn-pipe> -->

<!-- <app-ip></app-ip> -->
<app-weather></app-weather>